*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
}

body{
    background-color: rgb(225, 225, 225);
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1,0, auto;
    justify-content: center;
    align-items: center;
}
.calculator{
    display: flex;
    background-color: black;
    width: 500px;
    height: 800px;
    justify-content: space-around;
}

button{
    height: 105px;
    width: 105px;
    border-radius: 90px;
    background-color: lightgrey;
    margin: 10px 10px;
}