*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
}

body{
    background-color: rgb(225, 225, 225);
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.calculator{
    display: flex;
    background-color: black;
    width: 500px;
    align-items: flex-end;
    flex-wrap: wrap;
    flex: 0 0 auto;
}

.defaultButton{
    height: 105px;
    width: 105px;
    border-radius: 100px;
    border: 0px, solid,rgb(255, 0, 217);
    margin: 10px 10px;
    font-size: large;
    font-weight: 600;
}

.defaultButton.buttonNumber{
    background-color: rgb(104, 104, 104);
    color: rgb(250, 250, 250);
}

.defaultButton.buttonSecondary{
    background-color: rgb(183, 183, 183);
}

.defaultButton.buttonSymbol{
    background-color: rgb(255, 136, 0);
    color: rgb(250, 250, 250);
}

.buttonGrow{
    width: 230px;
    margin: auto;
}